@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

// PROJECT COLORS
$light-green: #00A868;
$dark-green: #013920;

$light-purple: #6E4B87;
$dark-purple: #422755;

$full-white: #ffffff;
$light-gray: #e3e3e3;

$light-black: #363636;
$full-black: #000000;


$font-stack: 'Open Sans', sans-serif;
$page-title: 24px;

.btn {
    padding: 10px;
    border: 0;
    border-radius: 8px;
    font-weight: 700;
    background: $light-green;
    font-family: $font-stack;
    color: $full-white;

    &:hover {
        background: darken($light-green, 10%);
    }
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}