@import "variables";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
}

.header {
    @include flexCenter;
    flex-direction: column;
    margin: 0 0 40px;
}

.header__title {
    @include flexCenter;
    position: relative;
    width: 100%;
    min-height: 150px;
    margin: 0 0 40px;
    background: $dark-purple;
    color: $full-white;
    font-weight: 800;
    font-size: $page-title;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        top: 99%;
        width: 100%;
        height: 15px;
        background: $dark-purple;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
    }
}

.header__info {
    padding: 0 10px;
    font-size: 16px;
    text-align: center;
    color: $dark-purple;
}

.page__container {
    max-width: 1080px;
    padding: 0 10px;
    margin: 0 0 40px;
}

.form__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    margin: 0 0 20px;
    border-radius: 8px;
    background: $light-green;
}

.form__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 10px 0;
    max-width: 300px;

    .form__field {
        width: 100%;
        padding: 10px;
        border: 0;
        background: $full-white;
    }

    .btn {
        position: absolute;
        top: 2px;
        right: 2px;
        font-family: $font-stack;
        font-size: 16px;
        font-weight: 700;
        border: 0;
        border-radius: 8px;
        background: $light-green;
        color: $full-white;
        padding: 5px 10px;
    }

    .form__field,
    .form__select {
        min-height: 36px;
        border-radius: 8px;
    }

    .select__label {
        font-size: 14px;
        color: $full-white;
        margin-right: 5px;
    }

    .form__select {
        width: 100%;
        max-width: 190px;
        border: 0;
        padding: 0 30px;
        appearance: none;
        background-image: url("../assets/arrow-select.png");
        background-repeat: no-repeat;
        background-position: 90% 50%;
    }
}

.card {
    display: flex;
    margin: 0 0 20px;
    padding: 20px 10px;
    border: 1px solid $full-black;
    border-radius: 15px;

    &.missing {
        opacity: 0.4;
    }

    .card__image {
        width: 45%;
        margin-right: 10px;

        img {
            width: 100%;
        }
    }

    .card__content {
        display: flex;
        flex-direction: column;
        width: 50%;

        .title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            min-height: 38px;
            font-weight: 400;
            font-size: 14px;
            margin: 0 0 10px;
        }

        .oldprice {
            font-size: 12px;
            text-decoration: line-through;
        }

        .price {
            font-size: 18px;
            color: $light-green;
            margin-top: 5px;
        }

        .installment {
            font-size: 12px;
            margin: 10px 0;
        }

        .unavaliable {
            @include flexCenter;
            height: 80px;
            font-size: 14px;
        }

        .btn {
            width: 100%;
            color: $full-white;
            background: $light-green;
            border: 0;
            border-radius: 5px;
            padding: 10px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.company {
    @include flexCenter;
    flex-direction: column;
    padding: 0 10px;

    .text {
        font-size: 14px;
        margin: 10px 0;
        text-align: center;
    }
}

.company__image {
    margin: 30px 0 0;
}

.company__resume {
    margin: 30px 0;
    padding: 0 10px;
}

.footer {
    @include flexCenter;
    flex-direction: column;
    min-height: 120px;
    background: $dark-purple;

    &__text {
        font-size: 13px;
        color: $full-white;
    }
}

@media screen and (min-width: 768px){
    .product__list {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        justify-content: center;
        gap: 20px 10px;
    }

    .card {
        margin: 0;
    }
}